---
import '../components/estilos/CardsPro.css'

---

<a href=" " target="_blank" rel="noopener noreferrer">
  <div class="card">
    <img src="https://www.artel.cl/wp-content/uploads/2020/11/50260365-Fabriano_Colore_negro-600x600.jpg" alt="Travis Scott Utopia" class="card-image">
    
    <p class="card-title">Proyecto en Desarrollo...</p>
    <p class="card-body"> </p>
    
  </div>
</a>